
:focus {
        outline: 0;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    background-color: #44686A;
}
table, td {
   margin: 10px;
}
#tablehead {
        color: #555555;
    font-size: 80px;
    background: rgba(255,255,255,0.9);
    height:150px;
        border-radius: 25px;
        border: 6px solid #222222;
}
#tablehead:hover {
        background: pink;
}
.item0 {
        width: 150px;
        height: 150px;
        float: left;
        background: #7fc7af;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
}
.item0:hover {
        background: #9fF7d2;
}
.item1 {
        width: 150px;
        height: 150px;
        float: left;
        background: #3d9496;
        border-radius: 25px;
        border: 2px solid white;
}
.item1:hover {
    background: #8de4e6;
}
.item2 {
        width: 150px;
        height: 150px;
        float: left;
        background: #f8f4ec;
        border-radius: 25px;
        border: 2px dotted grey;
}
.item2:hover {
        opacity: 0.1;
    background: #555555;
}
.item3 {
        width: 150px;
        height: 150px;
        float: left;
        background: #b4f9a5;
        border-radius: 25px;
        border: 2px dotted white;
}
.item3:hover {
    border-radius: 50px;
}
.item4 {
        width: 150px;
        height: 150px;
        float: left;
        background: #9fa7d2;
        border-radius: 50%;
        border: 2px solid white;
}
.item4:hover {
        border-style: dashed;
        width: 400px;
}
.item5 {
        width: 150px;
        height: 150px;
        float: left;
        background: #f9fdab;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
}
.item5:hover {
        opacity: 0.6;
    height: 200px;
}
button {
        position: relative;
        border: none;
        cursor: pointer;
        margin: 50px;
        vertical-align: middle
}
#btn_1 {
        width: 150px;
        height: 100px;
    background: #4679BD;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    color: black;
        border:10px solid #cfdcec;
    box-shadow: 0 0 3px gray;
    text-shadow: 1px 1px 1px #EEEEEE;
}
#btn_1:hover {
        border: 12px solid #6f3dB9;        
        text-shadow: 1px 1px 1px black;
}
